body {
    margin: 0;
}
.dot {
    height: 60px;
    width: 60px;
    background-color: #00b809;
    border-radius: 50%;
    display: inline-block;
}

canvas {
    padding-left: 0;   /*     Lines 13 to 17 taken from       */
    padding-right: 0;  /*    Answer by Marco Luglio:          */
    margin-left: auto; /* https://stackoverflow.com/questions/5127937/how-to-center-canvas-in-html5  */ 
    margin-right: auto;
    display: block; 


    border: 1px solid black;
}

.fireButton {
    position: relative;
    left: 50%;
    width: 100px;
    height: 80px;
    margin-left: -50px; /* this value is -1/2 times the width value*/
    background-color: #fc0303;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    margin-top: 10px;
} 