#canvas {
    background-image: url(../../images/fillerBGImage.jpg);
    background-size: contain;
    background-repeat: repeat-x;
    z-index: 1;
    background-color: transparent;

}

img { 
    display: inline;
}
