#canvas {
    background-image: url(../../images/fillerBGImage.jpg);
    background-size: cover;
    width: 200%;
    background-repeat: repeat-x;
    
    background-color: rgb(255, 225, 225);

}

img { 
    display: inline;
}
