body {
    overflow-y: scroll;
}
#container {
    max-height: 100%;
    height: 100vh;
    width: 100%; 
    overflow-x: scroll; 
    overflow-y: scroll; 
    white-space: nowrap;


    scrollbar-color: rgb(18, 35, 110) rgb(168, 162, 175);
    scrollbar-width: 2px;
}

#canvas {
    background-image: url(../../../images/backgrounds/homseBaseSimplified2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    background-color: transparent;
    aspect-ratio: 32/9;
    height: 100%;
}

img { 
    display: inline;
}
