#LevelPlaySlider_container {
    width: 80%;
    height: 80%;
    border: 8px solid black;
    background-color: green;
    position: absolute;

}

#LevelPlaySlider_container > div {
    text-align: center;
}

#LevelPlaySlider_container > div#LevelPlaySlider_title {
    margin-top: 12%;
    font-size: calc(3vw + 1.2vh);

}

#LevelPlaySlider_container > div#LevelPlaySlider_blurb {
    margin-top: 2%;
    font-size: calc(1vw + 0.8vh);
}

#LevelPlaySlider_container > div#LevelPlaySlider_description {
    margin-top: 4%;
    font-size: calc(1.2vw + 1vh);
    padding-left: 10%;
    padding-right: 10%;
}

#LevelPlaySlider_container > button {
    display: block;
    width: 90px;
}









