.levelPanelContainer {
    /* width: 80px;
    height: 160px; */
    min-width: 100px;
    width: 20%;
    height: 40%;
    aspect-ratio:inherit;
    border: 4px solid black;
    margin: 10px;
    border-radius: 22px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.levelPanelContainer:hover {
    background-color: rgb(6, 226, 149);
    cursor: pointer;
}

.flexBreak {
    width: 100%;
    height: 0;
}

.levelPanelContainer > span {
    text-align: center;

}

.levelPanelContainer > span.levelName {
    /* font-size: 28px; */
    font-size: calc(2vw + 0.8vh);
    padding-top: 12%;
    max-width: 100%;

}

.levelPanelContainer > span.levelBlurb {
    font-size: calc(0.8vw + 1vh);
    padding-left: 20px;
    padding-right: 20px;
}

.levelPanelContainer > span.completionStatus {
    font-size: calc(1.6vw + 1vh);
    margin-bottom: 8%;



}

