@font-face {
    font-family: apes-title;
    src: url(../../../fonts/apes-title-font/ApesTitle-11D0.ttf);
}

@font-face {
    font-family: typewriter;
    src: url(../../../fonts/typewriter-font/TypewriterBold-PZ2P.ttf);
}


.levelPanelContainer {
    /* width: 80px;
    height: 160px; */
    min-width: 100px;
    width: 20%;
    height: 40%;
    aspect-ratio:inherit;
    border: 4px solid black;
    margin: 10px;
    border-radius: 22px;
    background-color: rgb(120, 174, 215);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexBreak {
    width: 100%;
    height: 0;
}

.levelPanelContainer > span {
    text-align: center;

}

.levelPanelContainer > span.levelName {
    /* font-size: 28px; */
    font-size: calc(2vw + 0.8vh);
    padding-top: 12%;
    max-width: 100%;
    font-family: apes-title;

}

.levelPanelContainer > span.levelBlurb {
    font-size: calc(0.8vw + 1vh);
    padding-left: 20px;
    padding-right: 20px;
    font-family: typewriter;
}

.levelPanelContainer > span.completionStatus {
    font-size: calc(1.6vw + 1vh);
    margin-bottom: 8%;
}


.levelPanelContainer:hover {
    background-color: rgb(20, 69, 148);
    color: white;
    cursor: pointer;
}
.levelPanelContainer:hover > span.levelName {
    font-size: calc(2.2vw + 1vh);
}

.levelPanelContainer:hover > span.levelBlurb {
    font-size: calc(1vw + 1.1vh);
}

